{
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSameLine": true,
  "semi": true,
  "printWidth": 100,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
  "importOrderSortSpecifiers": true,
  "importOrderSeparation": false
}
